<section id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="contact-action"><i class="fa fa-phone-square"></i>IN CASE OF ANY QUESTIONS, CALL THIS NUMBER: <strong>+91 88801 20034</strong></p>
      </div>
      <div class="col-md-3 clearfix">
        <ul class="login-cart">
          <li>
            <a  routerLink="login">
            <i class="pi pi-user"></i>
              Login
            </a>
          </li>
          <li>
            <div class="cart dropdown">
                <a routerLink="login"><i class="pi pi-shopping-cart"></i>Cart</a>
                <div class="dropdown-menu dropup">
                  <span class="caret"></span>
                  <ul class="media-list">
                    <li class="media">
                      <img class="pull-left" src="assets/images/product-item.jpg" alt="image">
                      <div class="media-body">
                          <h6>Italian Sauce
                          <span>$250</span>
                        </h6>
                      </div>
                    </li>
                </ul>
                <button class="btn btn-primary btn-sm">Checkout</button>
                </div>
            </div>
          </li>
        </ul>
      </div>
      
    </div> <!-- End Of /.row -->
  </div>	<!-- End Of /.Container -->