<section id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="contact-action"><i class="fa fa-phone-square"></i>IN CASE OF ANY QUESTIONS, CALL THIS NUMBER: <strong>+91 88801 20034</strong></p>
      </div>
      <div class="col-md-3 clearfix">
        <ul class="login-cart">
          <li>
            <a  routerLink="login" *ngIf="!userDetails?.employeeId">
            <i class="pi pi-user"></i>
              Login
            </a>
            <button *ngIf="userDetails?.employeeId" class="btn btn-primary btn-logout" (click)="logout()">Logout</button>
          </li>
          <li>
            <div class="cart dropdown">
                <a href="javascript:void(0)" (click)="navigateCartPage()"><i class="pi pi-shopping-cart"></i>Cart {{userDetails?.cart ? userDetails?.cart?.length : 0}}</a>
            </div>
          </li>
        </ul>
      </div>
      
    </div> <!-- End Of /.row -->
  </div>	<!-- End Of /.Container -->