.login-container{
    padding: 0 0 0 0;
    min-height: 430px;
    font-size: large;
}


.form-control{
    font-size: 1rem !important;
}

#login{
    background-image: url('../../../../assets/images/login.jpg');
}