<div class="ui-g" style="width:100%" align="center">
    <div class="ui-g-3" *ngFor="let product of products">
      <p-card header="{{product.name}}" [style]="{width: '320px'}" styleClass="ui-card-shadow">
        <div>
          <img src="{{product.image}}" width="150" height="150" alt="Product Image" /><br />
          <div align="left">
            <b>Brand: {{product.brand}}</b><br />
            <b>Category: {{product.category}}</b><br />
            <b>Price: {{product.price}}</b><br />
            <b>Ratings: {{product.rating}}</b><br />
          </div>
        </div>
        <p-footer>
          <button pButton type="button" class="clr" label="Add To Cart" icon="pi pi-shopping-cart" style="margin-right: .25em"
            (click)="addToCart(product)"></button>
        </p-footer>
      </p-card>
      <p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>
    </div>
  </div>